.navbar{
  background-color: #171a21;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.warning{
  color: #6D931E;
  text-transform: uppercase; 
}

@media (max-width: 700px){
.navbar{
  padding: 0 20px;
}
}