.input{
  padding: 10px;
  background: #316282;
  color: #ffffff;
  border-radius: 2px;
  border: none;
  outline: 0;
}

.input::placeholder{
  color: #C7C7C7;
  font-style: italic;
}

.fullWidth{
  width: 100%;
}